dist: xenial

language: python

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
    - python: 3.8
      env: PRE_COMMIT=true
    - python: 3.9-dev
      env: RUN_MYPY=false

install:
  - pip install .[dev]

script:
  - if [[ $PRE_COMMIT ]]; then pre-commit install; pre-commit run --all-files; fi
